# Node
node_modules/
npm-debug.log
yarn-error.log
.env
.env.local
dist/
coverage/

# Flutter/Dart
.dart_tool/
.packages
build/
.pub-cache/
.pub/
/build/
*.iml
*.ipr
*.iws
.idea/
.vscode/

# Ignore Mac OS / Windows hidden files
.DS_Store
Thumbs.db
